.nav-wrapper{
  background: rgb(85, 84, 84);
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1{
    flex-grow: 1;
    color: #000;
    margin-top: 0px;
    margin-bottom: .5em;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
  }
  .links{
    flex: 1;
    align-items: center;
    a{
      color: #fff;
      margin-right: .5em;
      &:hover{
        color: #000;
      }
    }
  }
}